/* Wave Divider Component */
.wave-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
}

.wave-divider-top {
  margin-bottom: -1px;
}

.wave-divider-bottom {
  margin-top: -1px;
}

.wave-svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.wave-flip {
  transform: rotate(180deg);
}

/* Responsive heights */
@media (min-width: 768px) {
  .wave-svg {
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .wave-svg {
    height: 120px;
  }
}

@media (min-width: 1440px) {
  .wave-svg {
    height: 150px;
  }
}
