.section-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.divider-svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform-origin: center;
}

.divider-svg.flip {
  transform: rotateX(180deg) rotateY(0deg);
}

/* Responsive heights */
@media (max-width: 1024px) {
  .divider-svg {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .divider-svg {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .divider-svg {
    height: 50px;
  }
}
